/* start custom scss snippet */
.article__content h1 {
    color: rgb(125, 125, 125);
    font-family: "Comic Sans MS", 微软雅黑;
    font-size: 32px;

    background: none 0% 0% repeat scroll rgb(252, 140, 35);
    background-image: none;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;    
    background-color: rgb(249, 249, 249);
    
    border-left-style: solid;
    border-left-color: rgb(252, 140, 35);
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: rgb(525, 140, 35);
    border-right-width: 5px;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    padding: 5px 0px 5px 20px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin: 15px 0px !important;
    margin-top: 15px !important;
    margin-right: 0px !important;
    margin-bottom: 15px !important;
    margin-left: 0px !important;
}

/* end custom scss snippet */
